<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Añadir cliente</h1>
	<p>Has añadido</p>
	<p th:text="${newCustomer.toString()}"></p>
	<a th:href="@{/}">Volver al inicio</a>
</body>
</html>