<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Buscar por nombre</h1>
   	<span th:unless="${customerList.size > 0}">No se han encontrado usuarios</span>
	<span th:if="${customerList.size > 0}">Usuarios encontrados</span>
    <table th:if="${customerList.size > 0}">
		<tr>
			<th>Nombre</th>
			<th>Apellidos</th>
			<th>Edad</th>
		</tr>
		<tr th:each="customer: ${customerList}">
			<td th:text="${customer.name}"></td>
			<td th:text="${customer.surName}"></td>
			<td th:text="${customer.age}"></td>
		<tr>
	</table>
	<br>
	
	<a th:href="@{/}">Volver al inicio</a>
</body>
</html>